<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="row text-center">
        <div class="col-md-6 offset-md-3">
            <h1 class="py-5">Welcome to StudentList</h1>
            <h5 class="mb-2"><a th:href="@{/}" class="btn btn-outline-success">Go to home</a></h5>
            <h3 class="py-2">Student ID : [[${student.id}]]</h3>
            <h3 class="py-2">Student Name : [[${student.name}]]</h3>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>ID</th>
                <th>Course-Name</th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="course : ${student.courses}">
                <tr>
                    <td>[[${course.id}]]</td>
                    <td>[[${course.name}]]</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>